.header{
    background-color: black;
    color: white;
    padding: 25px 70px;
    display: flex;
    justify-content: space-between;
}

.header ul{
    display: flex;
}

.header ul li{
    margin-left: 70px;
}

.footer{
    background-color: #F06105;
    color: white;
    padding: 25px 70px;
}

.footerContent{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}

.footerContent li{
    width: 300px;
}

.footerContent li h2{
    margin-bottom: 20px;
}

.footerContent li p{
    width: 200px;
}

.icons{
    display: flex;
}

.icons li{
    width: fit-content;
    margin-right: 30px;
}
