.banner img{
  width: 100vw;
}

.categories{
  width: 100%;
  border-collapse: separate; 
  font-size: smaller;
  border-spacing: 10px;
  padding: 60px;
}

.categories td{
  border: 1px solid;
  height: 400px;
  background-size: cover;
  color: white;
}

.chair{
  background-blend-mode: darken;
  background: url(chair.jpg);
}

.table{
  background-blend-mode: darken;
  background: url(table.jpg);
  width: 100%;
}

.painting{
  background-blend-mode: darken;
  background: url(painting.jpg);
}

.sofa{
  background-blend-mode: darken;
  background: url(sofa.jpg);

}

.article{
  padding: 70px;
  display: flex;
  justify-content: space-between;
}

.article2{
  padding: 70px;
  display: flex;
  justify-content: space-between;
}

.article img, .article2 img{
  height: 300px;
  width: 500px;
}

.article p, .article2 p{
  height: 300px;
  width: 500px;
  font-size: 25px;
}

.productsList {
  margin: 70px auto; 
  width: 90%;
  border-collapse: separate;
}

.productsList td {
  text-align: center;
  height: 180px;
  padding: 15px; 
  transition: .5s;
}

.productsList td:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

